.game-board {  
            display: grid;  
            grid-template-columns: repeat(4, 100px);  
            grid-template-rows: repeat(4, 100px);  
            gap: 2px;  
            width: 408px;  
            height: 408px;  
            border: 2px solid #000;  
        }  
.cell {  
            border: 1px solid #ccc;  
            display: flex;  
            justify-content: center;  
            align-items: center;  
        } 

img {  
            width: 90%;  
            height: 90%;  
        }  